<br>
<br>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title" data-id={{journal.id}}>{{journal.location_name}} in {{journal.state}} (ID: {{journal.id}})</h3>
    </div>
    <div class="panel-body">
      <div>
        {{#if journal.state}}
          State: {{journal.state}}
        {{else}}
          No state provided.
        {{/if}}
      </div>
      <div>
        {{#if journal.location_name}}
          Location: {{journal.location_name}}
        {{else}}
          No location provided.
        {{/if}}
      </div>
      <div>
        {{#if journal.rating}}
          Rating: {{journal.rating}}
        {{else}}
          No rating provided.
        {{/if}}
      </div>
      <div>
        {{#if journal.comments}}
          Comments: {{journal.comments}}
        {{else}}
          No comments provided.
        {{/if}}
      </div>
      <div>
        {{#if journal.date}}
          Date: {{journal.date}}
        {{else}}
          No date provided.
        {{/if}}
      </div>
      <div>
        {{#if journal.time}}
          Time: {{journal.time}}
        {{else}}
          No time provided.
        {{/if}}
      </div>

      <button class="journal-delete btn btn-danger entry-delete-button" class="entry-delete-button" data-id={{journal.id}}>
        Delete
      </button>

      <button type="button" class="journal-update btn btn-info entry-update-button" data-id={{journal.id}} data-target="#update-entry-modal" data-toggle="modal">
      Update
      </button>

    </div>
  </div>
