{{#each journals as |journal|}}

  <h4>Journal {{journal.id}}</h4>
  <ul class="entries-listing" data-id={{journal.id}}>
    <li>
      <div>
        {{#if journal.state}}
          State: {{journal.state}}
        {{else}}
          No state provided.
        {{/if}}
      </div>
    </li>
    <li>
      <div>
        {{#if journal.location_name}}
          Location: {{journal.location_name}}
        {{else}}
          No location provided.
        {{/if}}
      </div>
    </li>
    <li>
      <div>
        {{#if journal.rating}}
          Rating: {{journal.rating}}
        {{else}}
          No rating provided.
        {{/if}}
      </div>
    </li>
    <li>
      <div>
        {{#if journal.comments}}
          Comments: {{journal.comments}}
        {{else}}
          No comments provided.
        {{/if}}
      </div>
    </li>
    <li>
      <div>
        {{#if journal.date}}
          Date: {{journal.date}}
        {{else}}
          No date provided.
        {{/if}}
      </div>
    </li>
    <li>
      <div>
        {{#if journal.time}}
          Time: {{journal.time}}
        {{else}}
          No time provided.
        {{/if}}
      </div>
    </li>

    <div>
      <button type="button" class="journal-delete btn btn-danger" id="entry-delete-button" data-id={{journal.id}}>
        Delete
      </button>
    </div>
  </ul>

{{/each}}
